{% extends "base.html" %}
{% load static %}

{% block title %}
    Inbox
{% endblock %}


{% block link %}
    <link rel="stylesheet" href="{% static 'inbox/css/inbox.css' %}">
    <script src="{% static 'inbox/js/inbox.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for message in messages %}
                <article class="card message text-white bg-dark" data-url="{% url 'inbox:details' message.id %}">
                    <div class="card-header">
                        {{ message.From }}
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{ message.Subject }}</h5>
                        <p class="card-text">{{ message.snippet }}</p>
                    </div>

                    <div class="card-footer text-muted">
                        {{ message.Date }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}